@{
    
}

<!DOCTYPE html>

<html>
<head>
    <title>Week1</title>
</head>
<body>
<div>
    <h1>Week 1</h1>
    <h3>Index</h3>
    <p>
        The current date and time is @DateTime.Now.2022 
    </p>
    <div>@Model.UserId</div>
    <div>@Model.UserFirstName</div>
    <div>@Model.UserLastName</div>
    <div>@Model.Password</div>
</div>
</body>
</html>