@{
  
    ViewBag.Title = "Applications Directory";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title.</title>
    <link rel="stylesheet" href="~/Content/Applications.css"/>
</head>
<body>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>
    <table class="table">
        <tbody>
        <tr><td>@Html.ActionLink("Week1", "Index", "Week1")</td></tr>
        <tr><td>@Html.ActionLink("Week2", "Index", "Week2")</td></tr>
        </tbody>
    </table>
</div>
</body>
</html>